# Experimentation

## Data Ingestion

In [1]:
import os
import pandas as pd

In [2]:
pwd

'c:\\Users\\djoguns\\Documents\\workspace_datahackerman\\insurance_premium_prediction'

In [3]:
FILE_NAME = "insurance.csv"
DATA_FOLDER = "data"

In [4]:
main_path = os.getcwd()
main_path

'c:\\Users\\djoguns\\Documents\\workspace_datahackerman\\insurance_premium_prediction'

In [5]:
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [6]:
file_path

'c:\\Users\\djoguns\\Documents\\workspace_datahackerman\\insurance_premium_prediction\\data\\insurance.csv'

In [7]:
%%time

insurance_data = pd.read_csv(file_path)

CPU times: total: 0 ns
Wall time: 36.8 ms

In [8]:
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
insurance_data.shape

(1338, 7)

## Data Inspection

In [10]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

## Exploration Data Analysis

- Statistical Analysis
- Plots
- Correlation

## Model Building

In [11]:
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Train Test Split

In [12]:
# 0.3, 0.7

In [13]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [14]:
# y = mX + c

In [15]:
X = insurance_data[["age", "sex", "bmi", "children", "smoker", "region"]]

In [16]:
type(X)

pandas.core.frame.DataFrame

In [17]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [18]:
y = insurance_data["charges"]

In [19]:
type(y)

pandas.core.series.Series

In [20]:
y[0:5]

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
X_train.shape, X_test.shape

((896, 6), (442, 6))

### Training Model

In [23]:
train_data, test_data = train_test_split(insurance_data, test_size=0.33, random_state=42)

In [24]:
train_data.shape, test_data.shape

((896, 7), (442, 7))

In [25]:
train_data.head()

      age     sex     bmi  children smoker     region      charges
1046   43  female  25.080         0     no  northeast   7325.04820
682    39    male  35.300         2    yes  southwest  40103.89000
1037   45  female  30.495         1    yes  northwest  39725.51805
490    19  female  32.900         0     no  southwest   1748.77400
39     60    male  39.900         0    yes  southwest  48173.36100

In [26]:
test_data.head()

      age     sex     bmi  children smoker     region      charges
764    45  female  25.175         2     no  northeast   9095.06825
887    36  female  30.020         0     no  northwest   5272.17580
890    64  female  26.885         0    yes  northwest  29330.98315
1293   46    male  25.745         3     no  northwest   9301.89355
259    19    male  31.920         0    yes  northwest  33750.29180

In [27]:
label = 'charges'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count      896.000000
mean     13379.688250
std      12110.713713
min       1121.873900
25%       4819.842913
50%       9556.297050
75%      17092.916520
max      62592.873090
Name: charges, dtype: float64

In [28]:
%%time

save_path = 'models'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Warning: path already exists! This predictor may overwrite an existing predictor! path="models"
Beginning AutoGluon training ...
AutoGluon will save models to "models\"
AutoGluon Version:  0.6.2
Python Version:     3.9.16
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22621
Train Data Rows:    896
Train Data Columns: 6
Label Column: charges
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (62592.87309, 1121.8739, 13379.68825, 12110.71371)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    19261.98 MB
	Train Data (Original)  Memory Usage: 0.19 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 1 | ['bmi']
		('int', [])    : 2 | ['age', 'children']
		('object', []) : 3 | ['sex', 'smoker', 'region']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 1 | ['region']
		('float', [])     : 1 | ['bmi']
		('int', [])       : 2 | ['age', 'children']
		('int', ['bool']) : 2 | ['sex', 'smoker']
	0.1s = Fit runtime
	6 features in original data used to generate 6 features in processed data.
	Train Data (Processed) Memory Usage: 0.02 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.14s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 716, Val Rows: 180
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-13400.4853	 = Validation score   (-root_mean_squared_error)
	1.05s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-13842.3468	 = Validation score   (-root_mean_squared_error)
	0.01s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMXT ...
	-5173.9168	 = Validation score   (-root_mean_squared_error)
	2.45s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBM ...
	-5040.5316	 = Validation score   (-root_mean_squared_error)
	1.29s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestMSE ...
	-5103.4368	 = Validation score   (-root_mean_squared_error)
	0.7s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: CatBoost ...
	-5048.3579	 = Validation score   (-root_mean_squared_error)
	34.02s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: ExtraTreesMSE ...
	-5194.2629	 = Validation score   (-root_mean_squared_error)
	0.47s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	-5444.8794	 = Validation score   (-root_mean_squared_error)
	2.67s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: XGBoost ...
	-5164.9565	 = Validation score   (-root_mean_squared_error)
	1.36s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-5603.3202	 = Validation score   (-root_mean_squared_error)
	4.92s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMLarge ...
	-5337.1092	 = Validation score   (-root_mean_squared_error)
	1.95s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-4964.3165	 = Validation score   (-root_mean_squared_error)
	0.49s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 52.31s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("models\")

CPU times: total: 1min 1s
Wall time: 52.4 s

In [29]:
predictor.leaderboard(silent=True)

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,-4964.316540,0.097118,41.414214,0.000000,0.488855,2,True,12
1,LightGBM,-5040.531574,0.011430,1.286610,0.011430,1.286610,1,True,4
2,CatBoost,-5048.357888,0.003014,34.019845,0.003014,34.019845,1,True,6
3,RandomForestMSE,-5103.436805,0.068148,0.698421,0.068148,0.698421,1,True,5
4,XGBoost,-5164.956518,0.014582,1.357281,0.014582,1.357281,1,True,9
5,LightGBMXT,-5173.916806,0.013551,2.445510,0.013551,2.445510,1,True,3
6,ExtraTreesMSE,-5194.262922,0.067104,0.471925,0.067104,0.471925,1,True,7
7,LightGBMLarge,-5337.109204,0.009531,1.952972,0.009531,1.952972,1,True,11
8,NeuralNetFastAI,-5444.879368,0.024503,2.673611,0.024503,2.673611,1,True,8
9,NeuralNetTorch,-5603.320235,0.014527,4.920484,0.014527,4.920484,1,True,10
10,KNeighborsUnif,-13400.485342,0.021619,1.050972,0.021619,1.050972,1,True,1
11,KNeighborsDist,-13842.346813,0.015714,0.012514,0.015714,0.012514,1,True,2

## Model Evaluation

In [30]:
test_data.head()

      age     sex     bmi  children smoker     region      charges
764    45  female  25.175         2     no  northeast   9095.06825
887    36  female  30.020         0     no  northwest   5272.17580
890    64  female  26.885         0    yes  northwest  29330.98315
1293   46    male  25.745         3     no  northwest   9301.89355
259    19    male  31.920         0    yes  northwest  33750.29180

In [31]:
y_test = test_data[label]  # values to predict

In [32]:
y_test[0:5]

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
Name: charges, dtype: float64

In [33]:
test_data_nolab = test_data.drop(columns=[label])  # delete label column to prove we're not cheating
test_data_nolab.head()

      age     sex     bmi  children smoker     region
764    45  female  25.175         2     no  northeast
887    36  female  30.020         0     no  northwest
890    64  female  26.885         0    yes  northwest
1293   46    male  25.745         3     no  northwest
259    19    male  31.920         0    yes  northwest

In [34]:
save_path

'models'

Now, load in the stored models.

In [35]:
predictor

In [36]:
save_model_predictor = TabularPredictor.load(save_path)  # unnecessary, just demonstrates how to load previously-trained predictor from file

In [37]:
save_model_predictor

In [38]:
y_pred = save_model_predictor.predict(test_data_nolab)

In [39]:
y_pred[0:5]

764     10069.939453
887      5864.030273
890     28119.388672
1293     9637.636719
259     33401.289062
Name: charges, dtype: float32

In [40]:
print("Predictions:  \n", y_pred)
perf = save_model_predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: root_mean_squared_error on test data: -4496.912233850297
	Note: Scores are always higher_is_better. This metric score can be multiplied by -1 to get the metric value.
Evaluations on test data:
{
    "root_mean_squared_error": -4496.912233850297,
    "mean_squared_error": -20222219.638952468,
    "mean_absolute_error": -2456.856548138645,
    "r2": 0.8620064340583384,
    "pearsonr": 0.9286603196781178,
    "median_absolute_error": -1307.9873554687501
}

Predictions:
 764     10069.939453
887      5864.030273
890     28119.388672
1293     9637.636719
259     33401.289062
            ...
644     10405.212891
602     13649.684570
731     11513.055664
321      7515.514648
479      4812.416504
Name: charges, Length: 442, dtype: float32

In [41]:
save_model_predictor.leaderboard(test_data, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,LightGBMXT,-4440.935447,-5173.916806,0.029181,0.013551,2.445510,0.029181,0.013551,2.445510,1,True,3
1,CatBoost,-4454.783224,-5048.357888,0.010526,0.003014,34.019845,0.010526,0.003014,34.019845,1,True,6
2,WeightedEnsemble_L2,-4496.912234,-4964.316540,0.234874,0.097118,41.414214,0.006017,0.000000,0.488855,2,True,12
3,NeuralNetFastAI,-4511.277134,-5444.879368,0.042926,0.024503,2.673611,0.042926,0.024503,2.673611,1,True,8
4,LightGBM,-4569.536960,-5040.531574,0.016539,0.011430,1.286610,0.016539,0.011430,1.286610,1,True,4
5,XGBoost,-4661.412208,-5164.956518,0.035601,0.014582,1.357281,0.035601,0.014582,1.357281,1,True,9
6,NeuralNetTorch,-4714.743636,-5603.320235,0.023057,0.014527,4.920484,0.023057,0.014527,4.920484,1,True,10
7,ExtraTreesMSE,-4744.929210,-5194.262922,0.128123,0.067104,0.471925,0.128123,0.067104,0.471925,1,True,7
8,RandomForestMSE,-4795.645634,-5103.436805,0.178735,0.068148,0.698421,0.178735,0.068148,0.698421,1,True,5
9,LightGBMLarge,-5017.058130,-5337.109204,0.053811,0.009531,1.952972,0.053811,0.009531,1.952972,1,True,11
10,KNeighborsUnif,-12039.460207,-13400.485342,0.025405,0.021619,1.050972,0.025405,0.021619,1.050972,1,True,1
11,KNeighborsDist,-12480.341560,-13842.346813,0.029037,0.015714,0.012514,0.029037,0.015714,0.012514,1,True,2

### Bringing it all together

In [42]:
test_data["predicted_charges"] = y_pred

In [43]:
test_data["region"].unique()

array(['northeast', 'northwest', 'southwest', 'southeast'], dtype=object)

In [44]:
test_data.head()

,age,sex,bmi,children,smoker,region,charges,predicted_charges
764,45,female,25.175,2,no,northeast,9095.06825,10069.939453
887,36,female,30.020,0,no,northwest,5272.17580,5864.030273
890,64,female,26.885,0,yes,northwest,29330.98315,28119.388672
1293,46,male,25.745,3,no,northwest,9301.89355,9637.636719
259,19,male,31.920,0,yes,northwest,33750.29180,33401.289062

In [45]:
test_data["error_values"] = abs(test_data["charges"] - test_data["predicted_charges"])

In [48]:
test_data.head()

,age,sex,bmi,children,smoker,region,charges,predicted_charges,error_values
764,45,female,25.175,2,no,northeast,9095.06825,10069.939453,974.871203
887,36,female,30.020,0,no,northwest,5272.17580,5864.030273,591.854473
890,64,female,26.885,0,yes,northwest,29330.98315,28119.388672,1211.594478
1293,46,male,25.745,3,no,northwest,9301.89355,9637.636719,335.743169
259,19,male,31.920,0,yes,northwest,33750.29180,33401.289062,349.002737

In [50]:
pd.DataFrame([{"age": 5, "sex": "female", "bmi": 25.175, "children": 2, "smoker": "no", "region": "northeast"}])

   age     sex     bmi  children smoker     region
0    5  female  25.175         2     no  northeast

In [52]:
save_model_predictor.predict(pd.DataFrame([{"age": 45, "sex": "female", "bmi": 25.175, "children": 2, "smoker": "no", "region": "northeast"}]))

0    10069.939453
Name: charges, dtype: float32